/* 邁｡譏薙Μ繧ｻ??ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ?CSS */
* {
    box-sizing: border-box;
}
body {
    font-family:"Yu Gothic", "???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽS???ｿｽ?ｿｽ??ｿｽ?ｿｽV???ｿｽ?ｿｽ??ｿｽ?ｿｽb???ｿｽ?ｿｽ??ｿｽ?ｿｽN", YuGothic, "???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽS???ｿｽ?ｿｽ??ｿｽ?ｿｽV???ｿｽ?ｿｽ??ｿｽ?ｿｽb???ｿｽ?ｿｽ??ｿｽ?ｿｽN???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ", "???ｿｽ?ｿｽ??ｿｽ?ｿｽq???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽM???ｿｽ?ｿｽ??ｿｽ?ｿｽm???ｿｽ?ｿｽ??ｿｽ?ｿｽp???ｿｽ?ｿｽ??ｿｽ?ｿｽS Pro W3", "???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽC???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽI", sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #73C3B5 0%, #73C3B5 25%, #FFD98D 25%, #FFD98D 50%, #DA719B 50%, #DA719B 75%, #6575A5 75%, #6575A5 100%);
    display: block;
    height: 100%;
}

.glass p {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}


.container {
    display: flex;
    height: 100%;
}

header {
    height: 50px;
    color: #fff;
    background-color: #222;
    top: 0;
    position: sticky;
    z-index: 10;
}
main {
    z-index: 9;
    display: flex;
    flex-direction: column;
}
#headercontents {
    display: flex;
    justify-content: space-between;
}
#pages {
    display: flex;
}

#pages a {
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    padding-top: 6px;
    height: 44px;
    color: #ddd;
    margin-right: 10px;

    width: 80px;

}
#pages a :hover {
    background-color: #444;
}


.menu-btn {
    top: 15px;
    right: 13px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 11;
    display: none;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ddd;
    position: absolute;
    transition: all .4s;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: #00000000;/*???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽj???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ[???ｿｽ?ｿｽ??ｿｽ?ｿｽI???ｿｽ?ｿｽ??ｿｽ?ｿｽ[???ｿｽ?ｿｽ??ｿｽ?ｿｽv???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽﾍ真???ｿｽ?ｿｽ??ｿｽ?ｿｽ????ｿｽ?ｿｽﾌ撰ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽﾉゑｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}

.menu-contents {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;/*left?ｿｽﾌ値?ｿｽ?ｿｽﾏ更?ｿｽ?ｿｽ?ｿｽﾄ??ｿｽ?ｿｽj?ｿｽ?ｿｽ?ｿｽ[?ｿｽ?ｿｽ?ｿｽ?ｿｽﾊ外?ｿｽ?ｿｽ*/
    z-index: 10;
    background-color: #22222208;
}
aside {
    position: sticky;
    top: 0;
    flex: 0 1 auto;
    min-width: 300px;
    height: 100vh;
    color: #fff;
    background-color: #222;
}
.sidebar__logo {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}
.sidebar__logo img {
    border-radius: 3%;
}
.sidebar__menu ul {
    list-style: none;
    margin-left: -1em;
}
.sidebar__menu ul li {
    padding: 10px;
    border-bottom: 1px solid #777;
}
.sidebar__menu ul li a {
    text-decoration: none;
    color: #ddd;
    font-size: 24px;
    display: block;
}
.sidebar__menu ul :hover {
    background-color: #444;
}
#main-contents {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

#title-img {
    width: 100%;
    height: 10%;
    object-fit: cover;
}

.contents-txt {

}
.contents-img-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timetable-img-wrap {
    display: flex;
    justify-content: center;
}


.mascot-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mascot-img {
    margin: 0 2.5rem 0 2.5rem;
}
#mascot-txt {
    margin: 0 2.5rem 0 2.5rem;
}

.access-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#access-img {
    margin: 0 2.5rem 0 2.5rem;
}
#access-txt1 {
    margin: 0 2.5rem 0 2.5rem;
}

.sns-img-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mailaddress-img-wrap {
    display: flex;
    justify-content: center;
}

#mailaddress-img {
    height: 5rem;
    width: 85%;
}


/* 閭梧勹 */
.bg {
    background-image: url("bg.jpg"); /* 逕ｻ蜒擾ｿｽ???ｿｽ?ｿｽ繝代せ繧呈欠??ｿｽ?ｿｽ??ｿｽ?ｿｽ? */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
}

/* 繧ｬ繝ｩ繧ｹ譛ｬ??ｿｽ?ｿｽ??ｿｽ?ｿｽ? */
.glass {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: #ffffff1c; /* 閭梧勹濶ｲ */
    border: 1px solid #ffffff66; /* 繝懶ｿｽ???ｿｽ?ｿｽ繝繝ｼ */
    border-right-color: #ffffff33;
    border-bottom-color: #ffffff33;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(20px); /* 縺ｼ縺九＠繧ｨ繝輔ぉ繧ｯ??ｿｽ?ｿｽ??ｿｽ?ｿｽ? */
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 20px #40404033; /* ??ｿｽ?ｿｽ??ｿｽ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ?蠖ｱ */
    z-index: 8;
}

/* 繧ｬ繝ｩ繧ｹ??ｿｽ?ｿｽ??ｿｽ?ｿｽ?縺ｮ?ｿｽ???ｿｽ?ｿｽ??ｿｽ?ｿｽ? */
.glass h1 {
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    letter-spacing: 0.06em;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #222;
    background: #ffffff66;
    padding: 10px 0;

}


@media screen and (max-width: 1024px) {
    #sidebar {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
    .menu-contents {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 100%;/*left?ｿｽﾌ値?ｿｽ?ｿｽﾏ更?ｿｽ?ｿｽ?ｿｽﾄ??ｿｽ?ｿｽj?ｿｽ?ｿｽ?ｿｽ[?ｿｽ?ｿｽ?ｿｽ?ｿｽﾊ外?ｿｽ?ｿｽ*/
        z-index: 10;
        background-color: #22222299;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        transition: all 0.5s;/*?ｿｽA?ｿｽj?ｿｽ?ｿｽ?ｿｽ[?ｿｽV?ｿｽ?ｿｽ?ｿｽ?ｿｽ?ｿｽﾝ抵ｿｽ*/
    }
    
    .menu-contents ul {
        padding: 70px 10px 0;
    }
    .menu-contents ul li {
        border-bottom: solid 1px #777;
        list-style: none;
    }
    .menu-contents ul li a {
        display: block;
        width: 100%;
        font-size: 25px;
        box-sizing: border-box;
        color:#fff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-contents a:hover{
        background-color: #22222299;
    }
    .menu-contents ul li a::before {
        content: "";
        width: 12px;
        height: 12px;
        border-top: solid 2px #fff;
        border-right: solid 2px #fff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 20px;
    }
    
    input:checked ~ .menu-contents {
        right: 0;
    }
}
