/* Á∞°Êòì„É™„Çª„É?„É?CSS */
* {
    box-sizing: border-box;
}
body {
    font-family:"Yu Gothic", "?øΩ?øΩ?øΩS?øΩV?øΩb?øΩN", YuGothic, "?øΩ?øΩ?øΩS?øΩV?øΩb?øΩN?øΩ?øΩ", "?øΩq?øΩ?øΩ?øΩM?øΩm?øΩp?øΩS Pro W3", "?øΩ?øΩ?øΩC?øΩ?øΩ?øΩI", sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #73C3B5 0%, #73C3B5 25%, #FFE7B7 25%, #FFE7B7 50%, #DA719B 50%, #DA719B 75%, #6575A5 75%, #6575A5 100%);
    display: block;
    height: 100%;
    height: 4096px;
}

.glass p {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}


.container {
    display: flex;
    height: 100%;
    height: 4096px;
}

header {
    height: 50px;
    color: #fff;
    background-color: #222;
    top: 0;
    position: sticky;
    z-index: 10;
}
main {
    z-index: 9;
    display: flex;
    flex-direction: column;
}
#headercontents {
    display: flex;
    justify-content: space-between;
}
#pages {
    display: flex;
}

#pages a {
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    padding-top: 6px;
    height: 44px;
    color: #ddd;
    margin-right: 10px;

    width: 80px;

}
#pages a :hover {
    background-color: #444;
}


.menu-btn {
    top: 15px;
    right: 13px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    display: none;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ddd;
    position: absolute;
    transition: all .4s;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: #00000000;/*?øΩ?øΩ?øΩj?øΩ?øΩ?øΩ[?øΩI?øΩ[?øΩv?øΩ?øΩ?øΩ?øΩ?øΩÕê^?øΩ??ÇÃêÔøΩ?øΩ?ßñÔøΩ?øΩ…ÇÔøΩ?øΩ?øΩ*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}


aside {
    position: sticky;
    top: 0;
    flex: 0 1 auto;
    min-width: 300px;
    height: 1024px;
    color: #fff;
    background-color: #222;
}
.sidebar__logo {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}
.sidebar__logo img {
    border-radius: 3%;
}
.sidebar__menu ul {
    list-style: none;
    margin-left: -1em;
}
.sidebar__menu ul li {
    padding: 10px;
    border-bottom: 1px solid #444;
}
.sidebar__menu ul li a {
    text-decoration: none;
    color: #ddd;
    font-size: 24px;
    display: block;
}
.sidebar__menu ul :hover {
    background-color: #444;
}
#contents {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}
/* ËÉåÊôØ */
.bg {
    background-image: url("bg.jpg"); /* ÁîªÂÉè„?Æ„Éë„Çπ„ÇíÊåáÂÆ? */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
}

/* „Ç¨„É©„ÇπÊú¨‰Ω? */
.glass {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: #ffffff1c; /* ËÉåÊôØËâ≤ */
    border: 1px solid #ffffff66; /* „Éú„?º„ÉÄ„Éº */
    border-right-color: #ffffff33;
    border-bottom-color: #ffffff33;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(20px); /* „Åº„Åã„Åó„Ç®„Éï„Çß„ÇØ„É? */
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 20px #40404033; /* Ëñ?„Å?ÂΩ± */
    z-index: 8;
}

/* „Ç¨„É©„ÇπÂÜ?„ÅÆË¶ÅÁ¥? */
.glass h1 {
    text-align: center;
    color: #fff;
    font-family: "Heebo", sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.06em;
}


@media screen and (max-width: 1024px) {
    #sidebar {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
}


