* {
    box-sizing: border-box;
}
body {
    font-family:"Yu Gothic", "????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��S????��?��??��?��???��?��??��?��V????��?��??��?��???��?��??��?��b????��?��??��?��???��?��??��?��N", YuGothic, "????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��S????��?��??��?��???��?��??��?��V????��?��??��?��???��?��??��?��b????��?��??��?��???��?��??��?��N????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��", "????��?��??��?��???��?��??��?��q????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��M????��?��??��?��???��?��??��?��m????��?��??��?��???��?��??��?��p????��?��??��?��???��?��??��?��S Pro W3", "????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��C????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��????��?��??��?��???��?��??��?��I", sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #8cc7bd 0%, #8cc7bd 25%, #f7d695 25%, #f7d695 50%, #e0a2bb 50%, #e0a2bb 75%, #8f95a7 75%, #8f95a7 100%);
    display: block;
    height: 100%;
}

.glass p {
    margin-top: 20px;
    color: #222;
    font-size: 1.15em;
}

h4 {
    color: #000;
    font-size: 1.2em;
}

.container {
    display: flex;
    height: 100%;
}

header {
    height: 50px;
    color: #fff;
    background-color: #222;
    top: 0;
    position: sticky;
    z-index: 10;
}
main {
    z-index: 9;
    display: flex;
    flex-direction: column;
}
#headercontents {
    display: flex;
    justify-content: space-between;
}
#pages {
    display: flex;
}

#pages a {
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    padding-top: 6px;
    height: 44px;
    color: #ddd;
    margin-right: 10px;

    width: 80px;

}
#pages a :hover {
    background-color: #444;
}
#timetable-size{
    width: 100%;
}

#minivisual-size{
    width: 250px;
}

#countdownArea{
    color: #fff;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    border: solid 3px;
    background:#5a756a;
}

#countdownText{
    color: #777160;
    font-size: 60px;
}


.menu-btn {
    top: 15px;
    right: 13px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 11;
    display: none;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ddd;
    position: absolute;
    transition: all .4s;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: #00000000;
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}

.menu-contents {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 10;
    background-color: #22222208;
}
aside {
    position: sticky;
    top: 0;
    flex: 0 1 auto;
    min-width: 300px;
    height: 100vh;
    color: #fff;
    background-color: #222;
}
.sidebar__logo {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}
.sidebar__logo img {
    border-radius: 3%;
}
.sidebar__menu ul {
    list-style: none;
    margin-left: -1em;
}
.sidebar__menu ul li {
    padding: 10px;
    border-bottom: 1px solid #777;
}
.sidebar__menu ul li a {
    text-decoration: none;
    color: #ddd;
    font-size: 24px;
    display: block;
}
.sidebar__menu ul :hover {
    background-color: #444;
}
#main-contents {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

#title-img {
    width: 100%;
    height: 10%;
    object-fit: cover;
}

.contents-txt {

}
.contents-img-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timetable-img-wrap {
    display: flex;
    justify-content: center;
}

.access-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#access-img {
    margin: 0 2.5rem 0 2.5rem;
}
#access-txt1 {
    margin: 0 2.5rem 0 2.5rem;
}

.sns-img-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mailaddress-img-wrap {
    display: flex;
    justify-content: center;
}

#mailaddress-img {
    height: 5rem;
    width: 85%;
}
.block-contents {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5%;
}
.block-contents .block {
    width: 50%;
}

/* 背景 */
.bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    margin-bottom: -30px;
}

/* ガラス本�? */
.glass {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: #ffffff1c; /* 背景色 */
    border: 1px solid #ffffff66; /* ボ�?�ダー */
    border-right-color: #ffffff33;
    border-bottom-color: #ffffff33;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(20px); /* ぼかしエフェク�? */
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 20px #40404033; /* 影 */
    z-index: 8;
}

/* ガラス�?コン�?ン�? */
.glass h1 {
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    letter-spacing: 0.06em;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #000;
    background: #ffffff33;
    padding: 10px 0;

}

/* 教室展示 */

.classroom-exhibition {
    display: flex;
    flex: 0 1 auto;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: #ffffff33;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
h2 {
    font-size: 32px;
    text-align: center;
    background-color: #ffffff33;
}
h3 {
    font-size: 32px;
    text-align: center;
}
.classroom-img {
    width: 200px;
    padding-top: 20px;
    margin-right: 50px;
}
#horok {
    width: 280px;
}

.exhibition_txt h4 {
    color: #000;
    font-size: 24px;
}


@media screen and (max-width: 1024px) {
    #sidebar {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
    .menu-contents {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 100%;
        z-index: 10;
        background-color: #22222299;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        transition: all 0.5s;
    }

    .menu-contents ul {
        padding: 70px 10px 0;
    }
    .menu-contents ul li {
        border-bottom: solid 1px #777;
        list-style: none;
    }
    .menu-contents ul li a {
        display: block;
        width: 100%;
        font-size: 25px;
        box-sizing: border-box;
        color:#fff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-contents a:hover{
        background-color: #22222299;
    }
    .menu-contents ul li a::before {
        content: "";
        width: 12px;
        height: 12px;
        border-top: solid 2px #fff;
        border-right: solid 2px #fff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 20px;
    }

    input:checked ~ .menu-contents {
        right: 0;
    }
    /* 教室展示 */

    .classroom-exhibition {
        flex-direction: column;
    }

    .classroom-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #horok {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .block-contents {
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        margin-right: -10px;
        align-items: center;
    }

    #googlemap {
        width: 100%;
        height: 100%;
    }

    .block-contents .block {
        width: 95%;
    }
    #countdownArea{
        font-weight: 700;
        font-size: 3rem;
        border: solid 3px;
        background:#5a756a;
    }
    
    #countdownText{
        color: #777160;
        font-size: 1.6rem;
    }
}

